/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	margin-right: 5px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
}

.wp-pagenavi span.current {
}
