@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qxoyam');
	src:url('../fonts/icomoon.eot?#iefixqxoyam') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qxoyam') format('woff'),
		url('../fonts/icomoon.ttf?qxoyam') format('truetype'),
		url('../fonts/icomoon.svg?qxoyam#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 0.25em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icono_otto:before {
	content: "\e600";
}
.icon-icono_8:before {
	content: "\e601";
}
.icon-m_tipografico:before {
	content: "\e602";
}
.icon-imoticon:before {
	content: "\e608";
}
.icon-lab:before {
	content: "\e609";
}
.icon-team:before {
	content: "\e60b";
}
.icon-back:before {
	content: "\e603";
}
.icon-work:before {
	content: "\e60c";
}
.icon-menu:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-heart:before {
	content: "\e607";
}
.icon-website:before {
	content: "\e60a";
}
.icon-message:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e611";
}
.icon-frontend:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e60f";
}
.icon-github:before {
	content: "\e616";
}
.icon-github2:before {
	content: "\e617";
}
.icon-tumblr:before {
	content: "\e610";
}
.icon-comment-alt:before {
	content: "\e60d";
}
.icon-backend:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e613";
}
.icon-branding:before {
	content: "\e614";
}
.icon-design:before {
	content: "\e615";
}
