@import 'fonts';
@import 'owl.carousel';

/* ==========================================================================
   Base
   ========================================================================== */
$size-uno: 1.5em;
$size-dos: 1.313em;
$size-tres: 1.125em;
$size-cuatro: 1em;
$size-cinco: 0.875em;
$size-seis: 0.750em;

$naranja: #FF3300;
$gris: #ECECEC;

$bar-height: 40px;
$contact-height: 3em;

/* =============================================================================
   Generales
   ========================================================================== */
html {
  height: 100%;
}
body {
  font: normal normal 16px 'Ubuntu', sans-serif;
  color: #000;
  height: 100%;
  overflow-y: scroll;

  &.normal {
    background: gray;
    color: blue;
  }

  &.tenue {
    background: black;
    color: white
  }

  &.luminoso {
    background: white;
    color: black;
  }
}
a {
   color: $naranja;
   text-decoration: none;
   font-size: $size-cinco;
   font-weight: bold;
}
a:hover {
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
}

h1 { font-size: $size-uno;}
h2 { font-size: $size-dos;}
h3 { font-size: $size-tres;}
h4 { font-size: $size-cuatro;}
h5 { font-size: $size-cinco;}
h6 { font-size: $size-seis;}

/*navegacion*/

#header {
  background: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.5s;
  width: 100%;
  z-index: 3;

  &.is-collapsed {
    top: calc(-100% + #{$bar-height});
  }
}
.menu-toggle {
  bottom: 0;
  left: 15px;
  padding: 12px 0;
  position: absolute;

  &:hover {
    text-decoration: none;
  }
}
.main-nav {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  height: calc(100% - #{$bar-height} - 1px);
  width: calc(100% - 1px);

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    display: block;
    float: left;
    height: calc(33.33% - 1px);
    text-align: center;
    width: calc(50% - 1px);
  }
  a {
    color: #fff;
    display: block;
    height: 100%;
    padding: 0 12px;
    font-size: 1em;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 38px;
      width: 38px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -58px -19px;

      font-family: 'icomoon';
      font-size: 2.25em;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;      
    }
    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
  }
  li#menu-item-95 a:before {
    content: '\e60d';
  }
  li#menu-item-26 a:before {
    content: '\e60b';
  }
  li#menu-item-104 a:before {
    content: '\e60c';
  }
  li#menu-item-103 a:before {
    content: '\e60a';
  }
  li#menu-item-102 a:before {
    content: '\e609';
  }
  li#menu-item-107 a:before {
    content: '\e608';
  } 


  @media screen and (min-aspect-ratio: 6/5) {
    li {
      height: calc(50% - 1px);
      width: calc(33.33% - 1px);
    }
  }
}
.ochomanos {
  padding: 12px 0;
  height: 16px;
  margin: 0 15px 0 0;
  text-align: right;

  a {
    color: #fff;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: top;
    width: 130px;
  }
  a:before {
     content: "\e602";
     display: block;
     font: 16px/1 icomoon;
     height: 150%;
     width: 0;
  }
  a:hover {
    opacity: 0.4;
  }
}

.wrap {
  background: #eee;
  margin-bottom: $contact-height;
  min-height: calc(100% - 2 * #{$bar-height} - #{$contact-height});
  padding: $bar-height 0;
  position: relative;
  z-index: 1;
}
/* ==========================================================================
   Content
   ========================================================================== */

/*encabezado modulo*/
.inner-header {  

   h2 {
      display: inline-block;
   
      span:after {
       content: '\00a0 \2f \00a0';
      }
   }
}
.back-link {
   display: inline-block;
   float: right; 
}
.nav-tabs{
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  padding: 0 8px;
  border-bottom: 1px solid $naranja;
  
  li {
      display: inline-block;
      margin-left: 1px;
      width: 32%;
  }

  li a {
     display: block;
     color: #FFF;
     padding: 10px;
     background: rgba(255, 51, 0, 0.2);
     position: relative;
     font-weight: bold;
   }
   
   li.active a,
   li a:hover{
      background: $naranja;
      color: #FFF;
   }
}

.team-wrapper,
.lab-wrapper {
   padding: 0 10px;

   .project,
   .person {
      padding: 12px;
      background: $gris;
      text-align: center;

      h3 {

      }
      h4 {
         font-weight: normal;
      }
      img {
         display: inline-block;
         width: 50px;
         border-radius: 50px;
         border: 3px solid $naranja;
      }
   }
}
.works-wrapper {
  .project-img {
    width: 300px;
  }
}
.more-info {
  display: none;
  text-align: left;

   p {
      padding-bottom: 10px;
   }
   p + p {
      padding: 5px 0 15px;
   }
   .person-links,
   .lab-tags {
      margin: 0 10px;
      padding: 15px 10px;
      list-style: none;
      border-top: 2px dotted $naranja; 
   
      li {
       display: inline-block;
      }
   }
}
/* ==========================================================================
   Footer
   ========================================================================== */

.contact-footer {
  background: #fff;
  bottom: $contact-height;
  max-height: calc(100% - #{$bar-height} - #{$contact-height});
  padding: 1px 0; // chrome bug #363067
  overflow: auto;
  position: fixed;
  transition: bottom 0.5s;

  .footer-close {
    float: right;
    margin: 1em;
    overflow: hidden;
    width: 1em;
  }
}
.footer-toggle {
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: $contact-height / 2;
  line-height: 1;
  margin: 0;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}
.contact-block {
  display: inline-block;
  vertical-align: top;
}
.contact-links {
  list-style: none;

  li {
    display: inline-block;
    width: 20px;
    overflow: hidden;
  }
}


/* ==========================================================================
   Games
   ========================================================================== */

   a ,
   .color {
      transition: color 0.2s linear;
   }

   .color-bg {
      transition: background-color 0.2s linear;
   }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }