/* ==========================================================================
   Base
   ========================================================================== */
* {
   margin:0;
   padding:0;
}

$size-uno: 1.5em;
$size-dos: 1.313em;
$size-tres: 1.125em;
$size-cuatro: 1em;
$size-cinco: 0.875em;
$size-seis: 0.750em;

$naranja: #FF3300;
$gris: #ECECEC; 

/* =============================================================================
   Generales
   ========================================================================== */
body {
   font: normal normal 16px 'Ubuntu', sans-serif; 
   color: #000;
   transition: all 0.3s;

   &.normal {
    background: gray;
    color: blue;
   }

   &.tenue {
    background: black;
    color: white
   }

   &.luminoso {
    background: white;
    color: black;
   }
}
a {
   color: $naranja;
   text-decoration: none;
   font-size: $size-cinco;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
}

h1 { font-size: $size-uno;}
h2 { font-size: $size-dos;}
h3 { font-size: $size-tres;}
h4 { font-size: $size-cuatro;}
h5 { font-size: $size-cinco;}
h6 { font-size: $size-seis;}

/*navegacion*/

header {
  width: 100%;
  background: $naranja;
}
   nav {
     /*width: 80%;*/
     height: 40px;
     /*margin-left: 6%;*/
     display: inline-block;
   
      ul {
        list-style: none;
        margin: 0;

         li {
           display: inline-block;
           margin-right: 5px;
           line-height: 40px;
         
            a {
              color: #FFF;
              display: block;
              padding: 0 12px;             
              font-size: 1em;
              text-transform: capitalize;
            }
         }
      }
   }
   .ochomanos {
      padding: 12px 0;
      width: 130px;
      height: 16px;
      margin: 0 0;
      display: inline-block;
      float: right;
    
      a {
         display: block;
         text-indent: -9999px;
         background: url(../img/8manos.svg) no-repeat; 
      }
   }

.wrap {
  /*width: 80%;*/
  /*margin-left: 10%;*/
}
/* ==========================================================================
   Content
   ========================================================================== */

/*encabezado modulo*/
.inner-header {  

   h2 {
      display: inline-block;
   
      span:after {
       content: '\00a0 \2f \00a0';
      }
   }
}
.back-link {
   display: inline-block;
   float: right; 
}
.nav-tabs{
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  padding: 0 8px;
  border-bottom: 1px solid $naranja;
  
  li {
      display: inline-block;
      margin-left: -2px;
      width: 32%;
  }

  li a {
     display: block;
     color: #FFF;
     padding: 10px;
     background: rgba(255, 51, 0, 0.2);
     position: relative;
     font-weight: bold;
   }
   
   li.active a,
   li a:hover{
      background: $naranja;
      color: #FFF;
   }
}

.team-wrapper {
   padding: 0 10px;

   .person {
      padding: 12px;
      background: $gris;
      text-align: center; 

      h3 {
         
      }
      h4 {
         font-weight: normal;
      }
      picture img {
         display: inline-block; 
         width: 50px;
         border-radius: 50px;
         border: 3px solid $naranja;
         margin-top: -25px; 
      }
   }
}
.lab-wrapper {
   padding: 0 10px;

   .project {
      padding: 12px;
      background: $gris;
      text-align: left; 

      h3 {
         
      }
      h4 {
         font-weight: normal;
      }
      picture img {
         display: inline-block; 
         width: 50px;
         border-radius: 50px;
         border: 3px solid $naranja;
         margin-top: -25px; 
      }
   }
}
.more-info {
   text-align: left;

   p {
      padding-bottom: 10px;
   }
   p + p {
      padding: 5px 0 15px;
   }
   .person-links,
   .lab-tags {
      margin: 0 10px;
      padding: 15px 10px;
      list-style: none;
      border-top: 2px dotted $naranja; 
   
      li {
       display: inline-block;
      }
   }
}
/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Games
   ========================================================================== */

   a ,
   .color {
      transition: color 0.4s linear;
   }

   .color-bg {
      transition: background-color 0.4s linear;
   }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }