a {
	color: #aaa;
	text-decoration:none;
}
a:hover {
	color: #eee;
}

/********HEADER********/
.logo-text {
	font: normal 2.5em 'Ubuntu', sans-serif;
	margin: 0;
}

header {
	width:100%;
	height:23px;
	background:#2B2B2B /*#262C33*/;
	}
nav {
	width:80%;
	height:40px;
	margin-left:6%;
	background:#393939 /*#323A45*/;
	}
nav ul {
	list-style:none;
	margin-left:4%;
	}
nav ul li {
	display:inline-block;
	margin-right:5px;
	line-height:40px;
	}
nav ul li a {
	color:#FFF;
	display:block;
	padding:0 12px;
	/*fuente temporal*/
	font-family:Apajarita, serif;
	font-size:1.2em;
	text-transform:capitalize;
	}
header#navigation select {
	display: none;
	width: 0;
	height: 0;
	padding: 19px 22px;
	background: url("../img/menu_responsive.svg") #393939;
	position: absolute;
	top: 1px;
	left: 2%;
	color: #FFF;
	border: none;
	-webkit-appearance: none;
}
/** posibilidad
header#navigation select:after {
	content:'menu';
	}
**/
.top_l {
	width:14%;
	height:40px;
	position: absolute;
	top: 0;
	right: 0;
	background:#727272;
	}
.top_l h1 {
	margin:0 14px;
	line-height:40px;
	font-size:1.5em;
	display:inline-block;
	}
.top_l h1 a {
	color:#FFF;
	}
/*social*/
.social-menu li {
	display:inline-block;
	margin:0 8px 0 0;
	}
.social-menu a {
	width:30px;
	height:0;
	padding-top:30px;
	display:block;
	overflow:hidden;
	background:url(../img/srpite_.png);
	background:url(../img/srpite_retina.png);
	background-size: 242px 65px;
	}

.dribbble a { background-position:0 0;}
.behance  a { background-position:-30px 0;}
.skype a 	{ background-position:-60px 0;}
.flickr a 	{ background-position:-90px 0;}
.vimeo a 	{ background-position:-120px 0;}
.github  a 	{ background-position:-150px 0;}
.twitter a 	{ background-position:-180px 0;}
.mail  a 	{ background-position:-210px 0;}

/*-------footer-------*/
footer {
	width:100%;
	min-height:80px;
	background:#2B2B2B;
	border-top:7px solid #7A7A7A;
	margin-top:80px;
	color:#F5F5F5;
	position:relative;
	}
footer .social-menu {
	margin:20px 6% 0;
	}
footer .twitter a { background-position:-180px -35px;}
footer .github a  { background-position:-150px -35px;}

footer p {
	position:absolute;
	top:20px;
	right:6%;
	font-family:Apajarita, serif;
	font-size:1em;
	}
footer p span {
	font-style:italic;
	display:inline-block;
	margin-left:20px;
	}

/*-------general-------*/
.wrap {
	margin-top:87px;
	width:80%;
	margin-left:6%;
	}
h1.main-title {
	font-weight:normal;
	font-size:2.5em;
	position:relative;
	margin-left:2.5%;
	}
h1.main-title  span {
	font-family:'Ubuntu', sans-serif;
	font-size:1.5em;
	margin-left:18px;
	display:inline-block;
	/*position:absolute;
	top:-18px;*/
	}
.wrap .intro {
	color:#545454;
	width:74%;
	margin:58px auto 80px;
	font-size:1.2em;
	text-align:center;
	}
/*submenu*/
.sub-menu,
.nav-tabs{
	list-style:none;
	width:100%;
	text-align:center;
	margin:-40px 0 80px;
	font-family: Apajarita, serif;
	text-transform:capitalize;
	font-size:22px;
	}
.sub-menu li {
	display:inline-block;
	margin:0 -3px;
	}
.sub-menu li a,
.nav-tabs li a{
	display:block;
	color:#3A3A3A;
	padding:6px 14px;
	background:#E0E0E0;
	position:relative;
	}
.sub-menu li.active a,
.sub-menu li a:hover{
	background:#565656;
	color:#FFF;
	}
.sub-menu li.active a:before,
.nav-tabs li.active a:before {
	content:'';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 14px 14px 0 14px;
	border-color: #565656 transparent transparent transparent;
	position:absolute;
	bottom:-12px;
	left:50%;
	margin:0 -14px;
	}
/*--submenuresponsive
  buscar alguna opcion para el sub menu
.sub-menu { position:relative;}
.sub-menu:before {
	content:'';
	display:block;
	padding: 19px 22px;
	background: url("../img/menu_responsive.svg") #393939;
	position: absolute;
	top:0;
	left:0;
	}
	*/
/*navtabs*/
.nav-tabs {
	text-align:left;
	font-size:20px;
	margin-top:-60px;
	}
.nav-tabs li {
	display: inline-block;
	margin-left:-2px;
	}
.nav-tabs li.active a,
.nav-tabs li a:hover{
	background:#565656;
	color:#FFF;
	}
.content .nav-tabs {
	width:100%;
	margin:30px 0 60px;
	}
.article-portafolio {
	width:43%;
	display:inline-block;
	vertical-align:top;
	margin:0 5% 76px 1%;
	}
.article-portafolio:nth-child(even) {
	margin:0 0 0 6%;
	}
.article-portafolio img {
	width:100%;
	height: auto;
	display:block;
	padding:10px;
	border:1px solid #D3D3D3;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
.article-portafolio .info {
	position:relative;
	padding:16px 0 0 24px;
	}
.article-portafolio a {
	color:#7C7C7C;
	font-family:Apajarita, serif;
	}
.article-portafolio h2{
	font-weight:normal;
	color:#515151;
	font-size:2.2em;
	}
article .info h4 {
	font-weight:normal;
	font-style:italic;
	font-size:14px;
	}
.article-portafolio .tags {
	position:absolute;
	top:-1px;
	right:0;
	list-style:none;
	display:inline-block;
	padding:6px 10px;
	border:1px solid #D3D3D3;
	border-top:none;
	background:#FFF;
	}
article .tags li {
	display:inline-block;
	padding-right:3px;
	}
article .tags li:last-child {
	margin:0;
	}
article .tags li:before {
	content:'+ ';
	font-size:12px;
	color:#A0A0A0;
	}
article .tags li:first-child:before {
	content:'';
	}
/*detalle portafolio*/
.main-title {
	margin-bottom:0;
	}
article .info {
	color:#B8B8B8;
	font-size:14px;
	margin-left:2.5%;
	/*float:left;*/ /*para que la margen superior de el parrafo en portafolio detalle no sea tan alta*/
}
article .tags {
	list-style:none;
	/**display:inline-block;
	margin-left:30px;*/
	}
.status {
	position:relative;
	font: italic 16px Apajarita, serif;
	text-align:right;
	}
.status span {
	padding-left:32px;
	display:inline-block;
	width:60px;
	margin-right:-62px;
	position:relative;
	top:0;
	z-index:-1;
	text-align:left;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	transition: 0.2s linear all;
	}
.status:hover span {
	margin:0;
	}
.status span:before {
	content:'';
	display:block;
	width:26px;
	height:24px;
	background:#AFAFAF;
	position:absolute;
	top:-2px;
	left:0;
	}
.status a{
	width:140px;
	height:24px;
	line-height:24px;
	text-align:center;
	background:#393939;
	display:inline-block;
	}

.gallery {
	margin:8px 0 34px;
	}
.slides li {
	width:50%;
	margin-right:8px;
	}
.slides li img {
	height: auto;
	width:100%;
	}

/*--------*/
.content {
	width:70%;
	margin-bottom:30px;
	position:relative;
	}
.content h2 {
	color:#808080;
	font: 2.2em Apajarita, serif;
	font-weight:normal;
	margin-bottom:18px;
	}
.content p {
	color:#393939;
	margin-bottom:23px;
	}
.content ul{
	list-style:inside url(../img/bullet_.png);
	}
.content ol {
	list-style:inside none;
	}
.content ul li,
.content ol li{
	margin-bottom:4px;
	}
.content ol li {
	position:relative;
	display:block;
	padding-left:18px;
	}
.content ol li:before{
	content: counter(count);
	counter-increment: count;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	opacity: 0.5;
	font: italic 20px/1 serif;
}
a.btn {
	display:inline-block;
	background:#393939;
	border:none;
	color:#FFF;
	padding:4px 16px;
	font-family:Apajarita, serif;
	font-style:italic;
	margin:14px 0;
	/*position:absolute;
	bottom:0;
	right:-90px;*/
	}
.content blockquote {
	width:80%;
	padding:14px;
	background:#565656;
	color:#FFF;
	margin:20px auto 40px;
	}
/*-----*/
.team {
	margin:42px 0 30px;
	}
.content h3,
.team h3{
	color:#808080;
	font: 1.8em Apajarita, serif;
	margin-bottom:18px
	}
.team ul {
	width:70%;
	list-style:inside none;
	}
.team ul li {
	width:32%;
	display:inline-block;
	vertical-align: top;
	margin-bottom:4px;
	}
.team ul li a {
	color:#393939;
	padding-left:18px;
	background:url(../img/bullet.png) no-repeat 2px 5px;
	}
.team ul li a:hover {
	background-position:2px -14px;
	color:#6B6B6B;
	}
.team ul li a .date {
	color:#aaa;
	font-family:Apajarita, serif;
	font-style:italic;
	display:inline-block;
	margin-left:8px;
	font-size:12px;
	}

/*equipo*/
.team-wrapper {
	width: 900px;
}

.member {
	width: 200px;
	height: 231px;
	overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
	display: inline-block;
	margin: 8px 8px -32px;
	}
.member .thumb-con {
	width: 100%;
    height: 100%;
    overflow: hidden;
	 -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
	}
.member .thumbnail{
	display:block;
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(http://placehold.it/240x240&text=default);
    background-size: cover;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.member img { display:none;}
article.member .name {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	font:0.9em Apajarita, serif;
	}
article.member .name h2 {
	height:34px;
	line-height:34px;
	width:70%;
	background:#FFF;
	background:rgba(255,255,255,0.8);
	text-align:center;
	font-weight:normal;
	-webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
	-webkit-transform-origin: 38% -40%;
	   -moz-transform-origin: 38% -40%;
		 -o-transform-origin: 38% -40%;
			transform-origin: 38% -40%;
	}
article.member .name h2 + h2 {
	-webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
	-webkit-transform-origin: 40% -420%;
	   -moz-transform-origin: 40% -420%;
		 -o-transform-origin: 40% -420%;
			transform-origin: 40% -420%;
	}

.member:nth-child(7n+5) {
	margin-left: 120px;
}
/*perfil*/
/*clase temporal mientras se ajusta a wordpress*/
.perfil h1.main-title { padding-top:18px;}
.perfil h1.main-title span {
	position: absolute;
	top: 0;
	right: 0;
	/*margin-top: -18px;*/
	color:#E6E7E8;
	}
.profile-frame {
	background:url(../img/bg_.png) #808080 repeat;
	padding:20px 0;
	margin-top:58px;
	}
.profile-frame .wrap {
	margin-top:0;
	}
.profile-frame .member {
	width: 230px;
	height: 268px;
	margin:0 4%;
	cursor:default;
}
.profile-frame .member .thumbnail {background-size:cover;}

.profile-frame .member-intro {
	display:inline-block;
	vertical-align:top;
	margin-top:36px;
	width:46%;
	color:#FFF;
	}
.profile-frame .member-intro h2 {
	font-size:36px;
	font-family:Apajarita, serif;
	font-weight:normal;
	line-height:30px;
	margin-bottom:24px;
	}
.profile-frame .member-intro p {
	margin-bottom:24px;
	}
.profile-frame .social-menu li { margin:0;}

.content.tabs {
	display:none;
	}

/*---laboratorio---*/
.laboratorio article {
	/*width:30%;*/
	width:340px;
	display:inline-block;
	vertical-align:top;
	/*margin:0 4% 4% 0;*/
	margin:0 16px 16px 0;
	position:relative;
	padding:8px;
	border:1px solid #D3D3D3;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
.laboratorio article:nth-child(3n+2) {
	/*margin:0;*/
	}
.laboratorio article .info {
	position:relative;
	padding:16px 0 0 24px;
	}
.laboratorio article .content {
	width:100%;
	margin:0;
	position:relative;
	padding:13px 13px 35px;
	background:#1A1A1A;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
.laboratorio article .content p {
	color:#FFF;
	font-family:'Courier New', Courier, monospace;
	}
.laboratorio article b,
.laboratorio article i,
.laboratorio article em {
	font-weight:normal;
	font-size:inherit;
	font-style:normal;
	}
.laboratorio article b  	{ color:#CDA869;}
.laboratorio article i  	{ color:#CF6A4C;}
.laboratorio article em     { color:#8F9D6A;}
.laboratorio article p span { color:#5F5A60;}

.laboratorio article a {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	background:#C4C4C4;
	background:rgba(39, 39, 39, 0.8);
	color:#FFF;
	font-family:Apajarita, serif;
	}
.laboratorio article a:hover {
	opacity:1;
	}
.laboratorio article .info {
	color:#FFF;
	padding:14% 0 0 24px;
	}
.laboratorio article h2{
	color:#FFF;
	margin-bottom:6px;
	}
.laboratorio article h4 {

	}
.laboratorio article .tags {
	position:absolute;
	bottom:0;
	right:0;
	list-style:none;
	display:inline-block;
	padding:6px 10px;
	background:#FFF;
	}
/*------contacto-----*/
.contact-frame {
	background:url(../img/bg_.png) #999999 repeat;
	padding:20px 0;
	margin-top:58px;
	}
.contact-frame .wrap {
	margin-top:0;
	}
.data {
	width:26%;
	display:inline-block;
	margin-left:2%;
	}
.data ul {
	list-style:none;
	color:#FFFFFF;
	}
.data ul li {
	padding-top:3px;
	font-size:13px;
	}
.data ul li a {
	color:#FFFFFF;
	}
.data li.mail,
.data li.twitter,
.data li.github {
	padding-left:35px;
	position:relative;
	font-size:16px;
	margin-bottom:15px;
	}
.data li.mail:before,
.data li.twitter:before,
.data li.github:before {
	content:'';
	width:30px;
	height:30px;
	display:inline-block;
	background:url(../img/srpite_.png);
	background:url(../img/srpite_retina.png);
	background-size: 242px 65px;
	position:absolute;
	top:0;
	left:0;
	}
.data li.mail:before	{ background-position:-210px -35px;}
.data li.twitter:before { background-position:-180px -35px;}
.data li.github:before  { background-position:-150px -35px;}
.data li.cel {
	font-size:16px;
	margin-bottom:15px;
	}
.form {
	width:43%;
	/*max-width:350px;*/
	display:inline-block;
	vertical-align:top;
	position:relative;
	}
input[type=text],
textarea {
	padding:8px 9px;
	border:none;
	width:100%;
	margin-bottom:14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
textarea {
	overflow: auto;
	resize: vertical;
	height:80px;
	max-height: 220px;
	margin:0;
	}
input[type=submit] {
	background:#393939;
	border:none;
	color:#FFF;
	padding:4px 16px;
	font-family:Apajarita, serif;
	font-style:italic;
	position:absolute;
	bottom:0;
	right:-90px;
	}
/*----------------------------*/
/*clase temporal*/
.contacto .nav-tabs { font-size:18px;}
.contacto .contact-frame { display:none;}

@media screen and (max-width: 1240px) {
	.laboratorio article { width:310px;}
	.content { width:90%;}

	/*clase temporal*/
	.contacto .nav-tabs li { width:40%;}
}

@media screen and (max-width: 1084px) {
	nav, .wrap { width:90%; margin-left:3%;}
	.portafolio article { width: 45%; margin: 0 2% 56px 1%;}
}
@media screen and (max-width: 960px) {
	nav { margin:0;}
	.wrap { width:94%; margin: 40px auto 0;}
	.content,
	.team ul { width:100%;}

	.sub-menu { margin-top:0;}

	.portafolio article {width: 48%; margin: 0 1% 56px 0;}
	.portafolio article:nth-child(even) {margin: 0 0 56px 2%;}
	.portafolio article .info {padding: 16px 0 0;}
	.article-portafolio img { padding:6px;}

	article .info { margin:0;}
	h1.main-title { margin-left:0;}

	footer p { width:70%;}

	.team-wrapper {
		width: 720px;
	}
	.member:nth-child(7n+5) {
		margin-left: 8px;
	}
	.member:nth-child(5n+4) {
		margin-left: 120px;
	}
}
@media screen and (max-width: 820px) {
	header {position: relative; height: 80px; background:#393939;}
	nav { width:60%; text-align:center;}
	nav ul li {margin: 0 2%;}
	.top_l { width: 30%; height: 100%; line-height:80px;}

	.slides li { width:100%;}

	h1.main-title {font-size: 2em;}
	.content h2 { font-size:1.8em;}
	.content h3, .team h3 { font-size:1.4em;}
	.wrap .intro { width:88%; margin: 40px auto; font-size:1em; }
	.team ul li { width:45%;}

	.team-wrapper {
		width: 100%;
	}
	.member {
		margin-bottom: 8px;
	}
	.member:nth-child(5n+4) {
		margin-left: 8px;
	}
}
@media screen and (max-width: 640px) {
	header { height: 40px;}
	nav { display:none;}
	header#navigation select { display:block;}
	.top_l { width:50%; line-height:40px;}
	h1.main-title span { display:none;}
	footer .social-menu { text-align:center; margin-bottom:20px;}
	footer p {width: 90%;position: relative;top: inherit;right: inherit;margin: 0 auto; padding-bottom: 20px; text-align: center;}

	.portafolio article { width:90%; margin:0 5% 56px;}
	.portafolio article:nth-child(even) {margin:0 5% 56px;}


	.data, .form { width:49%; margin:0; bottom:0; right:0;}
	input[type=submit] { position:relative; bottom:0; right:0; margin-top:14px;}

}
@media screen and (max-width : 500px) {
	body {text-rendering: optimizeSpeed;}
	.team ul li { width:100%;}
}
@media screen and (max-width: 380px) {
	.sub-menu {
		/*
		position:absolute;
		top:0;
		left:0;
		*/
		overflow:hidden;
		}
	.sub-menu li {display:block;position:relative;left:-110%;}

	.article-portafolio .tags { top: -7px; padding: 3px 7px;}

	.data { display:none;}
	.form { width:100%;}
}
