a {
	color: #aaa;
}
a:hover {
	color: #eee;
}

/********HEADER********/
.logo-text {
	background: #aaa;
	float: right;
	font: 2.5em 'Ubuntu', sans-serif;
	margin: 0;
	padding: 4px 12px;
}

#menu-main {
	background: #444;
	list-style: none;
	margin: 0;
	padding: 10px 20px;
}
#menu-main .menu-item {
	display: inline;
	margin: 0 16px;
}

/********MAIN********/
main {
	margin: 0 80px;
}

.archive article {
	display: inline-block;
	margin: 64px 1% 0;
	min-width: 300px;
	width: 47%;
}
.archive article img {
	border: 1px solid #ccc;
	height: auto;
	max-width: 100%;
	padding: 4px;
}
.archive article h2 {
	margin: 20px 20px 0;
}
.archive article h4 {
	margin: 0 20px 0;
}

/********FOOTER********/
#footer {
	background: #444;
	overflow: hidden;
	margin: 80px 0 0;
	padding: 16px 80px;
}
.social-menu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-menu li {
	display: inline;
}
#footer .info {
	color: #eee;
	float: right;
	margin: 0;
}
