/* ==========================================================================
   Base
   ========================================================================== */
/* line 4, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0; }

/* =============================================================================
   Generales
   ========================================================================== */
/* line 22, ../sass/styles.scss */
body {
  font: normal normal 16px 'Ubuntu', sans-serif;
  color: #000; }
  /* line 26, ../sass/styles.scss */
  body.normal {
    background: gray;
    color: blue; }
  /* line 31, ../sass/styles.scss */
  body.tenue {
    background: black;
    color: white; }
  /* line 36, ../sass/styles.scss */
  body.luminoso {
    background: white;
    color: black; }

/* line 41, ../sass/styles.scss */
a {
  color: #FF3300;
  text-decoration: none;
  font-size: 0.875em; }

/* line 47, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-style: italic; }

/* line 51, ../sass/styles.scss */
h1 {
  font-size: 1.5em; }

/* line 52, ../sass/styles.scss */
h2 {
  font-size: 1.313em; }

/* line 53, ../sass/styles.scss */
h3 {
  font-size: 1.125em; }

/* line 54, ../sass/styles.scss */
h4 {
  font-size: 1em; }

/* line 55, ../sass/styles.scss */
h5 {
  font-size: 0.875em; }

/* line 56, ../sass/styles.scss */
h6 {
  font-size: 0.75em; }

/*navegacion*/
/* line 60, ../sass/styles.scss */
header {
  width: 100%;
  background: #FF3300; }

/* line 64, ../sass/styles.scss */
nav {
  /*width: 80%;*/
  height: 40px;
  /*margin-left: 6%;*/
  display: inline-block; }
  /* line 70, ../sass/styles.scss */
  nav ul {
    list-style: none;
    margin: 0; }
    /* line 74, ../sass/styles.scss */
    nav ul li {
      display: inline-block;
      margin-right: 5px;
      line-height: 40px; }
      /* line 79, ../sass/styles.scss */
      nav ul li a {
        color: #FFF;
        display: block;
        padding: 0 12px;
        font-size: 1em;
        text-transform: capitalize; }

/* line 89, ../sass/styles.scss */
.ochomanos {
  padding: 12px 0;
  width: 130px;
  height: 16px;
  margin: 0 0;
  display: inline-block;
  float: right; }
  /* line 97, ../sass/styles.scss */
  .ochomanos a {
    display: block;
    text-indent: -9999px;
    background: url(../img/8manos.svg) no-repeat; }

/* line 104, ../sass/styles.scss */
.wrap {
  /*width: 80%;*/
  /*margin-left: 10%;*/ }

/* ==========================================================================
   Content
   ========================================================================== */
/*encabezado modulo*/
/* line 115, ../sass/styles.scss */
.inner-header h2 {
  display: inline-block; }
  /* line 118, ../sass/styles.scss */
  .inner-header h2 span:after {
    content: '\00a0 \2f \00a0'; }

/* line 123, ../sass/styles.scss */
.back-link {
  display: inline-block;
  float: right; }

/* line 127, ../sass/styles.scss */
.team-wrapper {
  padding: 0 10px; }
  /* line 130, ../sass/styles.scss */
  .team-wrapper .person {
    padding: 12px;
    background: #ECECEC;
    text-align: center; }
    /* line 138, ../sass/styles.scss */
    .team-wrapper .person h4 {
      font-weight: normal; }
    /* line 141, ../sass/styles.scss */
    .team-wrapper .person picture img {
      display: inline-block;
      width: 50px;
      border-radius: 50px;
      border: 3px solid #FF3300;
      margin-top: -25px; }

/* line 150, ../sass/styles.scss */
.lab-wrapper {
  padding: 0 10px; }
  /* line 153, ../sass/styles.scss */
  .lab-wrapper .project {
    padding: 12px;
    background: #ECECEC;
    text-align: left; }
    /* line 161, ../sass/styles.scss */
    .lab-wrapper .project h4 {
      font-weight: normal; }
    /* line 164, ../sass/styles.scss */
    .lab-wrapper .project picture img {
      display: inline-block;
      width: 50px;
      border-radius: 50px;
      border: 3px solid #FF3300;
      margin-top: -25px; }

/* line 173, ../sass/styles.scss */
.more-info {
  text-align: left; }
  /* line 176, ../sass/styles.scss */
  .more-info p {
    padding-bottom: 10px; }
  /* line 179, ../sass/styles.scss */
  .more-info p + p {
    padding: 5px 0 15px; }
  /* line 182, ../sass/styles.scss */
  .more-info .person-links,
  .more-info .lab-tags {
    margin: 0 10px;
    padding: 15px 10px;
    list-style: none;
    border-top: 2px dotted #FF3300; }
    /* line 189, ../sass/styles.scss */
    .more-info .person-links li,
    .more-info .lab-tags li {
      display: inline-block; }

/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   Games
   ========================================================================== */
/* line 202, ../sass/styles.scss */
a,
.color {
  -webkit-transition: color 0.2s linear;
          transition: color 0.2s linear; }

/* line 207, ../sass/styles.scss */
.color-bg {
  -webkit-transition: background-color 0.2s linear;
          transition: background-color 0.2s linear; }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 217, ../sass/styles.scss */
.aligncenter {
  display: block;
  margin: 0 auto; }

/* line 218, ../sass/styles.scss */
.alignleft {
  float: left; }

/* line 219, ../sass/styles.scss */
.alignright {
  float: right; }

/*# sourceMappingURL=styles.css.map */