/* ==========================================================================
   Base
   ========================================================================== */
/* =============================================================================
   Generales
   ========================================================================== */
/* line 23, ../sass/styles.scss */
body {
  font: normal normal 16px 'Ubuntu', sans-serif;
  color: #000; }

/* line 27, ../sass/styles.scss */
a {
  color: #FF3300;
  text-decoration: none;
  font-size: 0.875em; }

/* line 33, ../sass/styles.scss */
h1 {
  font-size: 1.5em; }

/* line 34, ../sass/styles.scss */
h2 {
  font-size: 1.313em; }

/* line 35, ../sass/styles.scss */
h3 {
  font-size: 1.125em; }

/* line 36, ../sass/styles.scss */
h4 {
  font-size: 1em; }

/* line 37, ../sass/styles.scss */
h5 {
  font-size: 0.875em; }

/* line 38, ../sass/styles.scss */
h6 {
  font-size: 0.75em; }

/*navegacion*/
/* line 42, ../sass/styles.scss */
header {
  width: 100%;
  background: #FF3300; }

/* line 46, ../sass/styles.scss */
nav {
  width: 80%;
  height: 40px;
  margin-left: 6%; }

/* line 51, ../sass/styles.scss */
ul {
  list-style: none; }

/* line 54, ../sass/styles.scss */
li {
  display: inline-block;
  margin-right: 5px;
  line-height: 40px; }

/* line 59, ../sass/styles.scss */
a {
  color: #FFF;
  display: block;
  padding: 0 12px;
  font-size: 1em;
  text-transform: capitalize; }

/* line 66, ../sass/styles.scss */
.ochomanos {
  padding: 12px 0;
  width: 130px;
  height: 16px;
  margin: 0 0; }

/* line 72, ../sass/styles.scss */
a {
  display: block;
  text-indent: -9999px;
  background: url(../img/8manos.svg) no-repeat; }

/* ==========================================================================
   Content
   ========================================================================== */
/*encabezado modulo*/
/* line 87, ../sass/styles.scss */
h2 {
  display: inline-block; }

/* line 90, ../sass/styles.scss */
span:after {
  content: '\00a0 \2f \00a0'; }

/* line 93, ../sass/styles.scss */
.back-link {
  display: inline-block;
  float: right; }

/* line 97, ../sass/styles.scss */
.team-wrapper {
  padding: 0 10px; }

/* line 100, ../sass/styles.scss */
.person {
  padding: 0 12px;
  background: #ECECEC;
  text-aling: center; }

/* line 105, ../sass/styles.scss */
h2 {
  font-weight: bold; }

/* line 110, ../sass/styles.scss */
picture img {
  display: inline-block;
  width: 50px;
  border-radius: 50px;
  border: 3px solid #FF3300;
  margin-top: -25px; }

/* line 117, ../sass/styles.scss */
.more-info {
  text-aling: left; }

/* line 120, ../sass/styles.scss */
p {
  padding-bottom: 10px;
  border-bottom: 2px dotted #FF3300; }

/* line 124, ../sass/styles.scss */
.person-links {
  list-style: none; }

/* line 127, ../sass/styles.scss */
li {
  display: inline-block; }

/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   Games
   ========================================================================== */
/* line 139, ../sass/styles.scss */
a,
.color {
  -webkit-transition: color 0.4s linear;
          transition: color 0.4s linear; }

/* line 144, ../sass/styles.scss */
.color-bg {
  -webkit-transition: background-color 0.4s linear;
          transition: background-color 0.4s linear; }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 154, ../sass/styles.scss */
.aligncenter {
  display: block;
  margin: 0 auto; }

/* line 155, ../sass/styles.scss */
.alignleft {
  float: left; }

/* line 156, ../sass/styles.scss */
.alignright {
  float: right; }

/*# sourceMappingURL=styles.css.map */